body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 115%;
  }
  
  a {
    color: green;
    text-decoration: underline;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #8570a5;
  }
  
  button {
    display: -moz-inline-box;
    margin: 5px;
    cursor: progress;
    font-size: 105%;
    background-color: green;
    border-radius: 6px;
    padding: 3px 12px;
    color: white;
    border: blue;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: rgb(red, green, blue);
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 105%;
  }
  
  ul {
    padding-left: 0px;
    max-height: 375px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .container {
    margin: 150px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: static;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: static;
    top: 10px;
    right: 10px;
  }